{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Blog</title>
		{% bootstrap_css %}
        {% bootstrap_javascript %}
	</head>

	<body style="background-color:floralwhite;">
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top" style="background-color: cornsilk;">
			<div class="container">

				<div class="navbar-header">
					<button
						type="button"
						class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#navbar"
						aria-expanded="true"
						aria-controls="navbar"
					></button>
					<a class="navbar-brand" href="{% url 'blogs:index' %}"><b>Blog</b></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'blogs:blogs' %}"><b>Blogs</b></a></li>
					</ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %} 
                        <li><a><b>Hello, {{ user.username }}</b></a></li>
                        <li><a href="{% url 'users:logout' %}"><b>log out</b></a></li>
                        {% else %}
                        <li><a href="{% url 'users:register' %}"><b>sign up</b></a></li>
                        <li><a href="{% url 'users:login' %}"><b>log in</b></a></li>
                        {% endif %}
                    </ul>
				</div><!-- /nav-collapse -->
                
			</div>
		</nav>

        <div class="container">

            <div class="page-header">
                {% block header %}{% endblock header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>

        </div><!-- /container -->

	</body>
</html>