{% extends "blogs/base.html" %}

{% block header %}
<div class="jumbotron" style="background-color:floralwhite;">
    <h1><a href="{% url 'blogs:new_blog' %}">Write down something</a></h1>
</div>
{% endblock header %}

{% block content %}
{% if not user.is_authenticated %} 
<h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make your own
    blog, and write down something you want to record.
</h2>
{% endif %}
<h2>
    Use this blog site to record your life!
</h2>
{% endblock content %}
